# Random stuff
*.weights
frames/
contour_frames/
videos/
out_videos/
nn_approach/params.txt
nn_approach/vahicle_counter.ipynb
nn_approach/yolo.py
yolo.py


# */data

# Credentials files
*credentials.json

# tox
.tox/

# VS Code
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
# .env
# .venv
# env/
# venv/
# ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
*.DS_Store
.AppleDouble
.LSOverride